<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link rel="manifest" href="manifest.json">

		<!-- un-comment this code to enable service worker
		<script>
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('service-worker.js')
					.then(() => console.log('service worker installed'))
					.catch(err => console.log('Error', err));
			}
		</script>-->

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
		<script src="lib/angular-admob/angular-admob.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="js/ng-cordova.js"></script>
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="js/factories.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body ng-app="starter">

		<ion-pane>
			<ion-header-bar class="bar bar-header bar-dark">
				<h1 class="title">Tigre Sonidero - Radio</h1>
			</ion-header-bar>
			<ion-content delegate-handle="scrollpoint" ng-controller="mainCtrl">

				<img ng-click="scrollToButtons()" width="100%" src="img/landingpage.jpg">

				<div id="anchorPoint" class="row button-size">

					<img id="speaker-left" class="col col-20" src="./img/speaker-bounce.png">

					<button ng-click="play()" class="col col-60 button button-assertive">
					
						<span>Play Radio</span>			

					</button>

					<img id="speaker-right" class="col col-20" width="10%" src="./img/speaker-bounce.png">

				</div>

				<button ng-click="stop()" class="button button-block button-dark">Stop Radio</button>

				<img class="rotate3D" width="100%" src="img/amarillo.png">

				<div class="list">
					<ion-scroll direction="y" delegate-handle="small" style=" height: 200px">
							<a class="item item-thumbnail-left item-text-wrap" href="#">
								<img class="rotate3D" src="./img/amarillo.png">
								<h2>From: Radio Chat</h2>
								<p>Bienvenidos al Chat de Tigre Sonidero</p>
							</a>
							<a ng-repeat="messages in message" class="item item-thumbnail-left item-text-wrap" href="#">
								<img class="rotate3D" ng-src="{{ messages.avatar }}">
								<h2>From: {{ messages.fromUser}}</h2>
								<p>{{ messages.text }}</p>
							</a>
					</ion-scroll>
				</div>
				<div ng-hide="isLoggedIn">
					<div ng-show="alert" class="col button button-assertive">{{ alert }}</div>
					<br>
					<form ng-submit="register()">
						<div class="list">
						    <label class="item item-input item-stacked-label">
							   	<span class="input-label">Nombre</span>
							    <input type="text" ng-model="name" placeholder="Aqui">
							</label>
						</div>
					    <label>
					        <ion-radio ng-model="gender" ng-value="'img/hombre.png'">Hombre</ion-radio>
	 				 		<ion-radio ng-model="gender" ng-value="'img/mujer.png'">Mujer</ion-radio>
	 				 		<ion-radio ng-model="gender" ng-value="'img/notsure.png'">Confundido</ion-radio>
					    </label>
					    <button type="submit" class="button button-small button-balanced button-full">Entrar a Chat</button>
					</form>
				</div>
				<div ng-show="isLoggedIn" class="padding">
					<form ng-submit="addMessage()">
						<label class="item item-input">
							<input type="text" ng-model="text" placeholder="Mensaje">
						</label>
						<button type="submit" class="button button-small button-balanced">Enviar</button>
						<button ng-click="logOut()" class="button button-small button-balanced">Salir</button>
					</form>
				</div>
			</ion-content>
			<ion-footer-bar class="bar bar-footer bar-dark">
				<div class="title">Radio</div>
			</ion-footer-bar>
		</ion-pane>
	</body>
</html>
